<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div id="user-data">
        <h3 class="h3">Products</h3>
        <div class="form-group" *ngFor="let product of Products; let counter = index">
          <label class="h5">Product Serial Number<a class="counter">{{counter + 1}}</a> </label>
          <p>{{product.serialNumber}}</p>
        </div>
      </div>
  </div>
  <button (click)="topFunction()" id="scrollButton" title="Go to top">Take me to the top!</button>
</div>
