p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.h5{
    margin-bottom: 0;
}

.form-group{
    margin-bottom: 30px;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

pagination-controls{
    text-align: center;
}

/* Scroll button that takes the user back to the top */
#scrollButton {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 20px; /* Place the button at the bottom of the page */
	right: 30px; /* Place the button 30px from the right */
	z-index: 99; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: black; /* Set a background color */
	color: white; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 10px; /* Rounded corners */
	font-size: 15px; /* Increase font size */
  }
  
  #scrollButton:hover {
	background-color: #555; /* Add a dark-grey background on hover */
  }