<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <div id="user-data">
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
          <h3 class="h3">Tickets</h3>
        <div class="form-group" *ngFor="let ticket of Tickets | paginate: { itemsPerPage: 10, currentPage: page }">
          <label class="h5">First Name</label>
          <p>{{ticket.firstName}}</p>
          <label class="h5">Last Name</label>
          <p>{{ticket.lastName}}</p>
          <label class="h5">E-mail</label>
          <p>{{ticket.email}}</p>
          <label class="h5">Phone Number</label>
          <p>{{ticket.phoneNumber}}</p>
          <label class="h5">Date Of Birth</label>
          <p>{{ticket.dateOfBirth}}</p>
          <label class="h5">Product Serial Number</label>
          <p>{{ticket.serialNumber}}</p>
        </div>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
  </div>
  <button (click)="topFunction()" id="scrollButton" title="Go to top">Take me to the top!</button>
</div>